<div class="container">
  <h1>About</h1>
  <p>Upon reaching level 30 in League of Legends you will be able to participate in Ranked Games, where you will fight for a place in Leagues and Divisions with other players by earning League Points (LP) and MMR (Elo). But before being placed in a league and division, you will have to play 10 placement Matches, and the more victories you will have, the higher league and division you will be placed into. MMR is a hidden rating which influences the amount of points per game and skill level of your opponents and teammates.</p>

  <h3>What is Leagues and Divisions?</h3>

  <p>In LoL there are 6 tiers: bronze, silver, gold, platinum, diamond and challenger (starting from bronze – it’s the lowest one). Each tier is separated into leagues of 250 people. And in each league there are 5 divisions (starting from the 5th, the lowest one). Each league is named in honor of different League of Legends champions (e.g. Kha’Zix’s Tigers, Wukong’s Protectors, Soraka’s Archers etc.)</p>

  <h3>How does it work?</h3>

  <p>Right after you play 10 placement matches, you will be placed in a particular league and division. The more games you win, the higher league and division you will be placed into. But, no matter how well you played the placement matches, the system will not give place you higher than gold league, 5th division. For further progression in divisions and leagues you will have to play loads of games. To advance to the next division, you must earn 100 points there and play 3 placement matches (you must win 2 games out of 3). After getting into new division you will have 0 points and you will have 5 test games which you can lose without losing the points, but if you lose more – you will go back to the previous division, and you will have to earn 100 points again and win 3 placement games. As soon as you get to the first division and earn 100 points, you will have a chance to advance to the next league, and for this you will have to play 5 placement games (winning at least 3 out of 5). The number of points that you earn per each win and the number of points you lose per each loss depends on your MMR (MatchMaking Rating). The more you win, the higher your MMR and the more you lose when you lose a game.</p>
  <p>In Challenger league the system works differently. There are only 200 players in Challenger. As soon as a new player from Diamond gets up into Challenger, he gets a protection for 7 days (during this time he can’t be kicked out), and when the new player enters Challenger, the player with the lowest amount of points is placed back into Diamond.</p>

  <h3>Why should I order League and Division boost?</h3>

  <p>Do you feel like you’re playing on ratings lower than you deserve? You constantly play with weak and unexperienced LoL players which make you lose game after game so you drop down in divisions? Or you just don’t have enough time to farm League Points to advance higher in Leagues? Our players, including tournament participants and Challenger tier professionals, will help you climb out of low elo ratings and boost your account up to Challenger tier as fast as possible.</p>

  <h3>Why should I order League and Division boost from Elisei and Evgeniy?</h3>

  <p>We guarantee 100% anonymity and safety of your account. We neve share any of your account details with anyone.</p>
  <p>Shortest terms of execution after the order was paid for.</p>
  <p>You may pick any lane and desired champions which will be used to boost your rating (if you have needed runepages). We will try to fullfil all your requests, but you have to understand, that the ban/pick system doesn’t always let you pick the desired champion and lane.</p>
  <p>We are the only ones offering rating boost in duo with our players. This will make you be sure that our players are professionals and you will gain additional playing experience.</p>
</div>