<div class="container">

    <h2>Boosting divisions and leagues</h2>

    <h1>IMAGE WILL BE HERE</h1>


    <div class="calc">
    <table class="tabl">
      <tbody>

        <tr>
          <td class="wdth"><div><h4>Current league &amp; division:</h4></div></td>
          <td class="wdth1"></td>
          <td class="wdth"><h4>Desired league &amp; division:</h4></td>
          <td class="wdth"><h4>Calculator</h4></td>
        </tr>

        <tr>
          <td class="wdth">
            <label>Select league &amp; division:</label>
            <p>
              <select class="form-control wdth2">
                <option>Bronze</option>
                <option>Silver</option>
                <option>Gold</option>
                <option>Platinum</option>
                <option>Diamond</option>
                <option>Callenger</option>
              </select>

              <select class="form-control wdth2">
                <option>Division 1</option>
                <option>Division 2</option>
                <option>Division 3</option>
                <option>Division 4</option>
                <option>Division 5</option>
              </select>
            </p>

          </td>

          <td class="wdth1"><%= image_tag('arrow.png', size: "100x90", alt: "arrow", class: 'arrow') %></td>

          <td class="wdth">
            <label>Select league &amp; division:</label>
            <p>
              <select class="form-control wdth2">
                <option>Bronze</option>
                <option>Silver</option>
                <option>Gold</option>
                <option>Platinum</option>
                <option>Diamond</option>
                <option>Callenger</option>
              </select>

              <select class="form-control wdth2">
                <option>Division 1</option>
                <option>Division 2</option>
                <option>Division 3</option>
                <option>Division 4</option>
                <option>Division 5</option>
              </select>
            </p>

          </td>
          <td class="wdth">
            <label>Serwer:</label>
            <select class="form-control wdth2">
              <option value="1">EU West</option>
              <option value="2">EU Nordic&amp;East</option>
              <option value="3">North America</option>
              <option value="4">Brazil</option>
              <option value="5">Russia</option>
              <option value="6">Latin America North</option>
              <option value="7">Latin America South</option>
              <option value="8">Oceania</option>
              <option value="9">Turkey</option>
            </select>

            <button class="btn-info">Calculate</button>
          </td>

        </tr>

        <tr></tr>

      </tbody>
    </table>

  </div>
</div>