<div class="container">
  <div class="row col-md-12">

    <div class="home-image"><%= image_tag("leagues.png", class: 'col-md-4') %></div>
    <div class="com-md-5">
      <h3>What is Leagues and Divisions?</h3>

      <p>In LoL there are 6 tiers: bronze, silver, gold, platinum, diamond and challenger (starting from bronze – it’s the lowest one). Each tier is separated into leagues of 250 people. And in each league there are 5 divisions (starting from the 5th, the lowest one). Each league is named in honor of different League of Legends champions (e.g. Kha’Zix’s Tigers, Wukong’s Protectors, Soraka’s Archers etc.)</p>
    </div>
  </div>
</div>
