<% provide(:title, '| Home') %>
<div class="container">
  <div class="row col-md-12 text-border">
    <div class="col-md-5"><%= image_tag("leagues-5.png", class: 'home-image') %></div>
    <div class="col-md-7">

      <h3>What is Leagues and Divisions?</h3>
      <hr />
      <p class="line-hgh">In LoL there are 7 tiers: bronze, silver, gold, platinum, diamond, master and challenger (starting from bronze – it’s the lowest one). Each tier is separated into leagues of 250 people. And in each league there are 5 divisions (starting from the 5th, the lowest one). Each league is named in honor of different League of Legends champions (e.g. Kha’Zix’s Tigers, Wukong’s Protectors, Soraka’s Archers etc.)</p>

    </div>
  </div>

  <div class="row col-md-12"></div>

  <div class="row col-md-12 text-border">
    <div class="col-md-7 col-sm-12">

	    <h3>How does it work?</h3>
	    <hr />
		  <p class="line-hgh">Right after you play 10 placement matches, you will be placed in a particular league and division. The more games you win, the higher league and division you will be placed into. To advance to the next division, you must earn 100 points there and play 3 placement matches (you must win 2 games out of 3). After getting into new division you will have 0 points and you will have 5 test games which you can lose without losing the points, but if you lose more – you will go back to the previous division. As soon as you get to the first division and earn 100 points, you will have a chance to advance to the next league, and for this you will have to play 5 placement games (winning at least 3 out of 5). The number of points that you earn per each win and the number of points you lose per each loss depends on your MMR (MatchMaking Rating).</p>

	  </div>
	  <div class="col-md-5 col-sm-12"><%= image_tag("tiers.jpg", class: 'home-image') %></div>
  </div>

  <div class="row col-md-12"></div>

  <div class="row col-md-12 text-border">
    <div class="col-md-5"><%= image_tag("nasus.png", class: 'home-image') %></div>
    <div class="col-md-7">

	 	<h3>Why should I order League and Division boost?</h3>
	 	  	<hr />
	  <p class="line-hgh">Do you feel like you’re playing on ratings lower than you deserve? You constantly play with weak and unexperienced LoL players which make you lose game after game so you drop down in divisions? Or you just don’t have enough time to farm League Points to advance higher in Leagues? Our players, including tournament participants and Challenger tier professionals, will help you climb out of low elo ratings and boost your account up to Challenger tier as fast as possible.</p>

    </div>
  </div>

  <div class="row col-md-12"></div>

  <div class="row col-md-12 text-border">
    <div class="col-md-7">

		  <h3>Why should I order League and Division boost from elo-king?</h3>
		    	<hr />

		  <p class="line-hgh">We guarantee 100% anonymity and safety of your account. We neve share any of your account details with anyone.</p>
		  <p class="line-hgh">Shortest terms of execution after the order was paid for.</p>
		  <p class="line-hgh">You may pick any lane and desired champions which will be used to boost your rating (if you have needed runepages). We will try to fullfil all your requests, but you have to understand, that the ban/pick system doesn’t always let you pick the desired champion and lane.</p>
		  <p class="line-hgh">We are the only ones offering rating boost in duo with our players. This will make you be sure that our players are professionals and you will gain additional playing experience.</p>

	  </div>
	  <div class="col-md-5"><%= image_tag("background.jpg", class: 'home-image') %></div>
  </div>
</div>
