<div class='static_pages calc'>
<div class="container">

  <h2>Boosting divisions and leagues</h2>

  <h1>IMAGE WILL BE HERE</h1>

    <div class="calc-form col-sm-8 col-md-8 col-lg-12">
    <%= render 'form' %>
    </div>
</div>
</div>