<% provide(:title, '| Boost') %>
<div class='users calc'>
<div class="container">

  <h3 class="centered text-border">Boosting wins</h3>
  <hr />

    <div class="calc-form col-sm-8 col-md-8 col-lg-12">
    <%= render 'scrol' %>
    </div>
</div>
</div>