<% provide(:title, '| Boost') %>
<div class='users calc container'>

  <h3 class="centered text-border">Boosting divisions and leagues</h3>
  <hr />

    <div class="calc-form col-sm-8 col-md-8 col-lg-12">
    <%= render 'form' %>
    </div>
</div>