@import "bootstrap-sprockets";
@import "bootstrap";

/* WRAPER */

body,html {
  background: rgb(224,224,224);
  font-family: Roboto Light, serif;
  font-weight: bold;
  height: 100%;
  min-width: 1000px;
}

table{

}

.navbar{
  height: 200px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}

.content{
  min-height: 100%;
}

* {margin: 0; padding: 0;}

.sub-footer {
  height: 210px; 
}

.footer { 
  background: #333; 
  height: 280px; 
  margin-top: -280px;
  border-top: 1px solid #666;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0 0 55px rgba(0,0,0,0.9);
}

.footer-text{
  text-transform: uppercase;
  font-size: 18px;
  color: #999;
  line-height: 28px;
  margin-top: 30px;
  text-align: center;
}

/* FORM PAGES */

.nav li{
  text-align: center;
  text-decoration: none;
  min-width: 70px;
  height: 50px;
  margin: 6px auto;
  position: inline;
  text-transform: uppercase;
}

.footer ul li{
  position: inline;
}

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 400px;
}

.platform{
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;
  position: relative;
  top: -70px;
  min-width: 840px;
  min-height: 600px;
  box-shadow: 0 0 55px rgba(0,0,0,0.7);
}

input[type=text],
input[type=email],
input[type=password] {
  color: #555;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-right: 5px;
  border-radius: 0px; 
  height: 40px;
  margin: 6px auto;
  text-indent: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin-top: 6px;
  border: none;
}

.btn-info{
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px;
}
  

.notice, .alert{
  text-decoration: none;
  text-align: left;
  font-size: 14px;
}

#error_explanation h2, ul{
  margin-left: 20px;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
}

#error_explanation{
  height: 100%;
  width: 100%;
  border: 1px solid #666;
  background-color: #999;
}

.pull-right{
  margin-right: 5%;
}

.pull-left{
  margin-left: 5%;
}

.singedin{
  color: #999;
  font-size: 14px;
  position: static;
}

.btn-warning{
  text-align: center;
  height: 65px;
  width: 280px;
  background-color: rgba(0,150,255,1);
  color: #000;
  font-size: 45px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,200,255,0.9);
  margin-top: 10px;
  font-family: arial, serif;
  font-style: italic;
  &:hover{
    background-color: rgba(0,170,255,1);
    text-decoration: none;
    color: #000;
  }
}

.container{
  width: 100%;
}

.calc-form{
  border: 1px solid #999;
  border-radius: 5px;
  min-width: 870px;
  height: 100%;
}

.calc-form-control{
  max-width: 400px;
}

.min-width{
  min-width: 450px;
}

#h_reg {
  display: none;
}

.home-image{
  min-width: 300px;
}