/*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* WRAPER */

body,html {
  background: rgb(0,0,0);
  font-weight: bold;
  height: 100%;
  min-width: 1000px;
}

.navbar{
  height: 230px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(255,255,255);
}

.tabs{
  margin-top: 75px;
}

.content{
  min-height: 100%;
}

* {margin: 0; padding: 0;}

.sub-footer {
  height: 270px; 
}

.footer { 
  background: #444; 
  height: 340px; 
  margin-top: -340px;
  box-shadow: inset 0 0 160px rgba(0,0,0,0.7);
  position: relative;
  min-width: 1125px;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-text{
  text-transform: uppercase;
  font-size: 16px;
  color: #999;
  margin-top: 30px;
  text-align: center;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  ul li{
    text-decoration: none;
    line-height: 30px;
    text-align: center;
  }
}

/* FORM PAGES */

.nav li{
  text-align: center;
  text-decoration: none;
  min-width: 70px;
  height: 50px;
  margin: 6px auto;
  position: inline;
  font-size: 17px;
  text-transform: uppercase;
}

.dropdown-menu{
  min-width: 133px;
  max-width: 133px;
  height: 120px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.9);
  background-color: black;
  li a{
    max-width: 120px;
    height: 40px;
    margin-left: 6px;
    padding: 0;
    color: rgba(0,150,255,1);
    &:hover{
      background-color: #FFFFFF;
    }
  }
}

.footer ul li{
  position: inline;
}

.footer-lis{
  left: 20px;
}

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 500px;
}

.platform{
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;
  position: relative;
  top: -70px;
  min-width: 1125px;
  min-height: 600px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  margin-left: 5%;
  margin-right: 5%;
}

input[type=text],
input[type=email],
input[type=password]{
  color: #555;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-right: 5px;
  border-radius: 0px; 
  height: 40px;
  margin: 6px auto;
  text-indent: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.text_area {
  color: #555;
  width: 100%;
  max-width: 100%;
  height: 200px;
  border: 1px solid #E6E6E6;
  border-right: 5px;
  border-radius: 2px; 
  margin: 6px auto;
  text-indent: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  max-height: 2000px
}

.footer-text-area {
  color: #555;
  width: 100%;
  max-width: 100%;
  max-height: 150px;
  border: 1px solid #E6E6E6;
  border-right: 5px;
  border-radius: 2px; 
  margin: 6px auto;
  text-indent: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  margin-top: 6px;
  border: none;
}

.btn-info{
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px;
}
  

.notice{
  width: 100%;
  height: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #999;
  padding-top: 10px;
}

.alert{
  width: 100%;
  height: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #999;
  top: -30px;
}

#error_explanation h2, ul{
  margin-left: 20px;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  padding-left: 20px
}

#error_explanation{
  height: 100%;
  max-width: 100%;
  border: 1px solid #666;
  background-color: rgba(0,0,0,0.2);
  margin-left: 15px;
  margin-right: 15px;
}

.pull-right{
  margin-right: 5%;
}

.pull-left{
  margin-left: 5%;
}

.singedin{
  color: #999;
  font-size: 14px;
  position: static;
}

.container{
  width: 100%;
}

.contact-field{
  max-width: 600px;
}

.calc-form{
  min-width: 870px;
  height: 100%;
}

.form-control{
  height: 60px;
  font-size: 22px;
}

.min-width{
  min-width: 450px;
}

#h_reg {
  display: none;
}

.home-image{
  width: 90%;
  margin-left: 25px;
  margin-top: 20px;
  max-width: 500px;
}

.logo-img{
  max-height: 150px;
  max-width: 400px;
}

.row{
  padding-top: 10px;
}

.line-hgh{
  line-height: 30px;
}

hr{
  border-color: rgba(0,0,0,0.4);
  box-shadow: 0 1px 1px rgba(255,255,255,0.3);
}

.h5color{
  color: #888;
}

.text-border{
  border: 1px solid rgba(0,0,0,0.08);
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 2px;
  margin-left: 2px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.4);
}

.email{
  font-size: 17px;
  text-transform: uppercase;
  font-family: verdana sans-serif;
  color: rgba(0,0,0,0.6);
  &:hover{
    color: rgba(0,0,0,0.9);
  }
}

.calc-wins{
  td{
    min-width: 180px;
  }
  tr{
    height: 40px;
  }
  tr, td {
    padding: 10px;
  }
  select, input, .btn{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  }
}