<footer class="footer">
  <div class="container">
    <nav>
      <p class="footer-text">Eloboosters may help you to boost your elo, or do 10-20 wins in a row </p>
      <hr />
      <ul>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
        <li><%= link_to "Calculator", calc_users_path %></li>
      </ul>
    </nav>
  </div>
</footer>